name: 'Storybook Tests'
on: push
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - run: pnpm install --frozen-lockfile
      - name: Install Playwright
        run: pnpm exec playwright install
      - name: Serve Storybook and run tests
        run: pnpm ci:test-storybook
