name: 'Storybook Tests'
on: push
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: '.node-version'
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - run: pnpm install --frozen-lockfile
      - name: Install Playwright
        run: pnpm exec playwright install
      - name: Build Storybook
        run: pnpm build-storybook -- --quiet
      - name: Serve Storybook and run tests
        run: |
          pnpm dlx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "pnpm dlx http-server storybook-static --port 6006 --silent" \
            "pnpm dlx wait-on tcp:6006 && pnpm test-storybook"